server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # 1️⃣ Auth Service
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - JwtAuthFilter

        # 2️⃣ Core Service
        - id: core-service
          uri: lb://core-service
          predicates:
            - Path=/api/v1/incidents/**,/api/v1/sensors/**

        # 3️⃣ AI Service
        - id: ai-service
          uri: lb://ai-service
          predicates:
            - Path=/api/v1/ai/**

        # 4️⃣ Notification Service
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/api/v1/notify/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: "AIDRP_SECRET_KEY"
  header: "Authorization"
