server:
  port: 8083

spring:
  application:
    name: ingestion-service

  datasource:
    url: jdbc:postgresql://localhost:5432/disaster_ingestion
    username: postgres
    password: PIPL0050
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
