server:
  port: 8085

spring:
  application:
    name: notification-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

twilio:
  account-sid: YOUR_TWILIO_ACCOUNT_SID
  auth-token: YOUR_TWILIO_AUTH_TOKEN
  from-number: +1234567890
  server:
    port: 8085

  spring:
    application:
      name: notification-service

    mail:
      host: smtp.gmail.com
      port: 587
      username: your_email@gmail.com
      password: your_app_password
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka/

  twilio:
    account-sid: YOUR_TWILIO_ACCOUNT_SID
    auth-token: YOUR_TWILIO_AUTH_TOKEN
    from-number: +1234567890
